# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Directories
.vs/
Bin/
Build/
Assets/ajax/
Assets/Figurine/
Assets/bedroom/
Assets/Mustang/
Assets/panther/
Assets/coffee_cart/
Assets/coffee_maker/
Assets/dragon/
Assets/furnace/
Assets/hyperion/
Assets/spaceship/
Assets/staircase/
Assets/stormtrooper/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
