# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Mac OS files
.DS_Store

# Directories
.vs/
Bin/
Build/
Assets/ajax/
Assets/Figurine/
Assets/bedroom/
Assets/Mustang/
Assets/panther/
Assets/coffee_cart/
Assets/coffee_maker/
Assets/dragon/
Assets/furnace/
Assets/hyperion/
Assets/spaceship/
Assets/staircase/
Assets/stormtrooper/
Assets/renderman/
Assets/rank3police/
Assets/tungsten-material-testball/
Assets/textures
Assets/Sponza
Assets/Pumpkin
Assets/Turkey
Assets/*.gltf
Assets/*.glb
Assets/*.bin
Assets/ball*
Assets/helmet*


# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.ods\#
